<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>{{ data.page_title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="alternate" href="https://spacehack.nx.ie" hreflang="en-ie" />
    <meta name="google-site-verification" content="hGemI6KQ7oWEz0JqDt99T-k53ka9xifAaPa9P8LrEo4" />

    <meta property="og:title" content="Dublin nightlife guide" />
    <!--
    <meta property="og:image" content="" />
    -->
    <meta property="og:url" content="https://spacehack.nx.ie" />

    <link rel="canonical" href="https://spacehack.nx.ie"/>

    <link href='//fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,400italic,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/build.css">
    
    <!--[if lt IE 7]>
    <script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->
    </head>
    <body>
      