<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>404</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="google-site-verification" content=""/>
    
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    
    <meta name="twitter:card" content="">
    <meta name="twitter:url" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
    
    <link rel="icon" type="image/ico" href="/static/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="canonical" href=""/>
    
    </head>

    <body>
        
        <div id="container">
            <h1>Oops!</h1>
            <p>We can't seem to find what you're looking for</p>
        </div>
        <style>
            body {
                font-family:'Open sans';
                color:rgba(0,0,0,0.8);
            }
            #container {
                text-align:center;
                position:absolute;
                top:0;left:0;right:0;bottom:0;
                margin:auto;
                height:276px;
                max-width:400px;
            }
            
            h1 {
                font-size:9em;
                margin:0;
            }
            p {
                margin:0;
            }
        </style>
    
    
        
    </body>
    
</html>